.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  padding-right: 5px;
  overflow-y: scroll;
  padding-left: 20px;
}
.user-info::-webkit-scrollbar {
  width: 2px;
  height: 10px;
  background-color: #dddddd35;
  color: white;
}
div.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
div.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
div.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-right: 5px;
}
div.icons img {
  width: 20px;
  height: 20px;
}
